server:
  port:

spring:
  datasource:
    url:
  r2dbc:
    url:

springdoc:
  swagger-ui:
    path: /swagger/index.html
  use-fqn: true

jwt:
  secret:

midtrans:
  client-key:
  secret-key:

cloudinary:
  api-key:
  api-secret:
  name:

langchain4j:
  open-ai:
    chat-model:
      api-key: